/*transition-when load the window*/
#overlayer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}


body {
    background-color: rgb(95, 53, 85);
}


.header table {
    width: 100%;
    background-color: rgba(157, 151, 151, 0.1);
    margin-bottom: 10px;
}

.header #font {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: xx-large;
}

.header #font a {
    color: palegoldenrod;
    text-decoration: none;
}

.header #font a:hover {
    color: palevioletred;
}

.header ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
}

.header ul li a {
    text-decoration: none;
    color: yellow;
}

.header ul li a:hover {
    color: cornflowerblue;
}

.header ul {
    text-align: right;
}

.header #align {
    font-size: 1vw;
}

.header #align .active {
    background-color: hsl(0, 0%, 50%, 0.6);
    padding: 10px;
}



.background p {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    position: absolute;
    margin-left: 20%;
    margin-top: -48%;
    font-size: 6vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



hr {
    border-color: black;
}


#about {
    display: inline-flex;
}

#about img {
    border-radius: 50px;
    border-style: ridge;
    border-color: wheat;
    margin-top: 120%;
}

#about img:hover {
    transform: scale(1.5, 1.5);
}

#about #aboutMe {
    padding: 50px;
    color: white;
    text-align: justify;
    font-size: 1.5vw;
    font-family: Helvetica, sans-serif;
    line-height: 40px;
}

#about #aboutMe #subject1 {
    text-align: center;
    font-size: 2vw;
    font-family: cursive;
    color: wheat;
}
#about #aboutMe p{
    text-indent:10%;
}


* {
    box-sizing: border-box;
}
#portfolio #topic{
    font-size: 2vw;
    font-family: cursive;
    color: wheat;
    text-align: center;
    padding-top: 20px;
}
/* to get vertical line in correct position*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: whitesmoke;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}



#download ul{
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: block;
    padding:20px;
 }
 #download{
  margin-bottom: 30px;
  padding-bottom: 20px;
 }
 #download p {
    text-align: center;
    font-family: cursive;
    font-size: 2vw;
    color:wheat;
    padding-top: 20px;
 }
 #download ul li {
    font-style: italic;
    font-size: larger;
    margin-left: 50px;
    list-style-type: none;
    display: inline-flex;
 }
 #download a{
  text-decoration: none;
  color: white;
 }
 #download a:hover {
    color:palevioletred;
 }
 #download #left{
  float: left;
 }
 #download #right{
  float: right;
 }



 * {
    box-sizing: border-box;
  }
  
  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .contact {
    border-radius: 5px;
    background-color:palegoldenrod;
    padding: 20px;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
 #contact{
    display: inline-flex;
    width: 100%;
  }
  #contact #left{
    width: 50%;
  }
  #contact #right{
    width:50%;
  }
  #contact #left a{
    text-decoration: none;
    line-height: 10px;
  }
  #contact #left h3{
    color: wheat;
    font-size: 2vw;
    font-family: cursive;
    text-align: center;
  }
  #contact #p1{
    color:white;
    font-family: Helvetica, sans-serif;
    padding:30px;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 30px;
  }
  #contact #p2{
    color:antiquewhite;
    text-decoration: none;
    font-size: 2vw;
    text-align: center;
  }
  #contact #p2:hover{
    color:palevioletred;
  }
 #contact #channel{
    list-style-type: none;
  }
  #contact #channel a{
    color:white;
  }
  #contact #channel a:hover{
    color:palevioletred;
  }
  /*#contact #channel li{
    display: inline-flex;
    padding:20px;
    text-indent: 20px;
  }*/
  #contact #channel li:hover{
    color:blue;
  }
  #channel a:link{
    color:white;
  }


/*Go To the Top - Button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  font-size: 18px;
  outline: 2px;
  background-color: rgb(209, 182, 238);
  color: rgb(24, 23, 23);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border-color: gray;
}

#myBtn:hover {
  background-color: rgb(207, 219, 227);
}


.footer1{
  padding:10px;
  padding-bottom: 0;
}
.footer1 #quick{
  color: white;
}
.footer1 a{
  color:wheat;
  text-decoration: none;
}
.footer1 #quick a:hover{
  color:palevioletred;
}
#copyright{
  background-color: rgb(87, 33, 74);
}
#copyright  p{
  color:white;
  padding:20px;
  text-align: center;
}






 